html {
    font-size: 22px;
}

body {
    background-color: black;
    color: aliceblue;
}

    table, th, tr, li, caption {
    border: 1px solid #eee;
    font-family: 'courier New';
    padding: 0.1rem;